@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

.form-group-inline-flex {
    display: flex;
    flex-direction: row;
}

.half-rule {
    border-top: 1px solid #535353;
}

.inline-button-container {

    display: flex;
    flex-direction: row;
    /*min-width: 100%;*/
    /*flex: 1; */
    justify-content: space-between;
}

.inline-group-item {
    margin-right: 1rem;
}

.inline-group-item input[type=text], input[type=date], input[type=select] label {
    margin-right: 1rem;
}

.inline-radio-group-item input[type=radio], input[type=date],
input[type=select], label {
    margin-right: 1rem;
}

.tr-alternate-row {
    background-color: rgba(65, 137, 199, 0.09);
}

.clickable-item {
    cursor: pointer;
}
